@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 2rem;
    text-decoration: underline;
    color: firebrick;
    font-weight: bold;
    background: rgb(17, 43, 43);
    padding-top: 2px;
    padding-bottom: 2px;
}

h3 {
    font-size: 1.5rem;
    text-decoration: underline;
    text-underline-offset: 0.4rem;
    font-style: oblique;
   color: limegreen;
   padding-bottom: 5px;

}

a {
    text-decoration: underline;
    color: blue;
}

li {
    list-style-type: circle;
    font-style: italic;
}

.radial-blue {
    background: radial-gradient(whitesmoke, skyblue)
}

.radial-dark {
    background: linear-gradient(to bottom, darkblue, lightpink, purple);
}